.body {
  background-color: #F7E4D2;
}

.authors {
  list-style-type: none;
  display: inline-flex;
}

.authors {
  padding: 10px;
}

.authors {
  text-decoration: none;
}

#Audrey {
  font-size: 20px;
  position:relative;
  left:0px;
}

.paragraph {
  position: relative;
  left:30px;
}
.paragraphIsis {
  position: relative;
  left: 40px;
}

#Carol {
  font-size: 20px;
  position:relative;
  left:180px;
}

#Isis {
  font-size: 20px;
  position:relative;
  left:100px;
}

.title h1{
  font-size: 50px;
  position:relative;
  left:0px;
  color: #2B0002;
}

.carousel {
  width:640px;
  height:360px;
  position: relative;
  left:200px;
}

.aboutTheGame h2{
  font-size: 30px;
  position:relative;
  left:0px;
  color: #2B0002;
}

.ourGoals h2{
  font-size: 30px;
  position:relative;
  left:0px;
  color: #2B0002;
}

.rules h2{
  font-size: 30px;
  position:relative;
  left:0px;
  color: #2B0002;
}

.rules ol{
  font-size: 15px;
  position:relative;
  left:0px;
  color: black;
}

.aboutTheAuthors h2{
  font-size: 30px;
  position:relative;
  left:0px;
  color: #2B0002;
}

.aboutTheGame p {
  font-size: 15px
}

.ourGoals p {
  font-size: 15px
}
